.button {
  height: 42px;
  width: 200px;
  color: #fff;
  // background-color: $button-background-color;
  background-color: $button-background-color;
  font-size: 12px;
  font-family: $second-font;
  text-transform: uppercase;
  border: 1px solid #fff;
  outline: none;
  &:active {
    background-color: $button-background-active-color;
    color: $button-background-color;
  }
}
