@mixin responsive($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje wielkości';
  }
}

@mixin landscape($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} and (orientation: 'landscape') {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje wielkości';
  }
}

@mixin portrait($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} and (orientation: 'portrait') {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - Nie rozpoznaje wielkości';
  }
}
